.sidebar {
  width: 100px;
  background-color: #020203;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  gap:75px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 80px;
}



.sidebar p {
  font-size: 12px;
  text-align: center;
  rotate:270deg;
}